$primaryColor: #612fbe;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #b097de;
$inputFocusBorderShadowColor: rgba(97, 47, 190, 0.25);
$highlightBgColor: #612fbe;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #612fbe;
$buttonBorderColor: #612fbe;
$buttonHoverBgColor: #5024a1;
$buttonHoverBorderColor: #46208e;
$buttonActiveBgColor: #46208e;
$buttonActiveBorderColor: #341a64;
$buttonFocusBorderShadow: rgba(97, 47, 190, 0.5);

@import "../sass/theme-v4/_theme";
