$primaryColor: #20c997;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #8fe4cb;
$inputFocusBorderShadowColor: rgba(32, 201, 151, 0.25);
$highlightBgColor: #20c997;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #20c997;
$buttonBorderColor: #20c997;
$buttonHoverBgColor: #18a57b;
$buttonHoverBorderColor: #13956e;
$buttonActiveBgColor: #13956e;
$buttonActiveBorderColor: #136e52;
$buttonFocusBorderShadow: rgba(32, 201, 151, 0.5);

@import "../sass/theme-v4/_theme";
