$primaryColor: #6c757d;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #b5babe;
$inputFocusBorderShadowColor: rgba(108, 117, 125, 0.25);
$highlightBgColor: #6c757d;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #6c757d;
$buttonBorderColor: #6c757d;
$buttonHoverBgColor: #4d565e;
$buttonHoverBorderColor: #424a51;
$buttonActiveBgColor: #424a51;
$buttonActiveBorderColor: #343a40;
$buttonFocusBorderShadow: rgba(108, 117, 125, 0.5);

@import "../sass/theme-v4/_theme";
