$primaryColor: #fd7e14;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #febe89;
$inputFocusBorderShadowColor: rgba(253, 126, 20, 0.25);
$highlightBgColor: #fd7e14;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #fd7e14;
$buttonBorderColor: #fd7e14;
$buttonHoverBgColor: #de6907;
$buttonHoverBorderColor: #cb5c00;
$buttonActiveBgColor: #cb5c00;
$buttonActiveBorderColor: #904100;
$buttonFocusBorderShadow: rgba(253, 126, 20, 0.5);

@import "../sass/theme-v4/_theme";
