<p-toast position="top-center"></p-toast>
<div class="contains">
    <form [formGroup]="loginForm">
        <div>
            <img class="img" src="assets/layout/images/bg-login.jpg"/>
        </div>
        <div class="contains-info">
            <div class="alink">
                <a target="_blank">
                    <img src="assets/layout/images/logo-landing.svg" class="login-logo"/>
                </a>
            </div>
            <div class="info">
                <div class="name-label">
                    <label class="login-label" for="account">用户名</label>
                    <div class="login-input">
                        <input type="text" formControlName="account" id="account"
                               name="account"
                               class="ui-inputtext ui-widget ui-state-default ui-corner-all width"
                               required autofocus />
                    </div>

                </div>
                <div class="psd-label">
                    <label class="login-label" for="exampleInputPassword1">密码</label>
                    <div class="login-input">
                        <input type="password" formControlName="password" name="password" id="exampleInputPassword1"
                               class="ui-inputtext ui-widget ui-state-default ui-corner-all width" required/>
                    </div>
                </div>
                <div>
                    <p class="text-danger" *ngIf="showErrorMessage">用户名或密码错误</p>
                </div>
                <div class="login">
                    <p-button label="登录" (click)="onLoginClick()" class="margin" ></p-button>
                    <p-button label="注册" (click)="onRegistration()" class="margin" ></p-button>
                    <a (click)="openForgetPasswordModal()" class="margin" >忘记密码</a>
                </div>
            </div>
        </div>
    </form>
</div>
