<div class="dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-md-12 chat">
            <p-panel styleClass="no-pad">
                <ul class="overflow" id="chat">
                    <span *ngFor="let item of chatMessage" id="message">
                        <li class="clearfix message-{{item.fromOwn}}">
                            <div class="ui-g-12 ui-md-12">
                                <span>{{item.name}}:</span>
                            </div>
                            <div class="ui-g-12 ui-md-12">
                                <span>{{item.message}}</span>
                            </div>
                        </li>
                    </span>
                </ul>
                <div class="new-message">
                    <div class="message-attachment">
                        <i class="fa fa-paperclip"></i>
                    </div>
                    <div class="message-input">
                        <input type="text" placeholder="Write a message" class="ui-inputtext"
                               [(ngModel)]="messageForSend" (keypress)="getKey($event)"/>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>
