<div
    (click)="onLayoutClick()"
    [ngClass]="{
        'menu-layout-static': !isOverlay(),
        'menu-layout-overlay': isOverlay(),
        'layout-menu-overlay-active': overlayMenuActive,
        'menu-layout-horizontal': isHorizontal(),
        'menu-layout-slim': isSlim(),
        'layout-menu-static-inactive': staticMenuDesktopInactive,
        'layout-menu-static-active': staticMenuMobileActive
    }"
    class="layout-wrapper"
>
    <pages-topbar ></pages-topbar>

        <div class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
            <p-scrollPanel #layoutMenuScroller [style]="{ height: '100%' }">
                <div class="menu-scroll-content">
                    <pages-menu [reset]="resetMenu"></pages-menu>
                </div>
            </p-scrollPanel>
        </div>

    <div class="layout-main">
        <div class="ui-g ui-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!--    <pages-footer></pages-footer>-->
</div>
