$primaryColor: #3f46bb;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #9ea1dc;
$highlightBgColor: #3f46bb;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #777777;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;

@import "../sass/theme/_theme";
