$primaryColor: #986839;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #cbb39c;
$inputFocusBorderShadowColor: rgba(152, 104, 57, 0.25);
$highlightBgColor: #986839;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #986839;
$buttonBorderColor: #986839;
$buttonHoverBgColor: #81572e;
$buttonHoverBorderColor: #6f4925;
$buttonActiveBgColor: #6f4925;
$buttonActiveBorderColor: #593e22;
$buttonFocusBorderShadow: rgba(152, 104, 57, 0.5);

@import "../sass/theme-v4/_theme";
