$primaryColor: #6610f2;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #b287f8;
$inputFocusBorderShadowColor: rgba(102, 16, 242, 0.25);
$highlightBgColor: #6610f2;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #6610f2;
$buttonBorderColor: #6610f2;
$buttonHoverBgColor: #5c0eda;
$buttonHoverBorderColor: #510dbe;
$buttonActiveBgColor: #510dbe;
$buttonActiveBorderColor: #470ea2;
$buttonFocusBorderShadow: rgba(102, 16, 242, 0.5);

@import "../sass/theme-v4/_theme";
