$primaryColor: #61cc79;
$primaryTextColor: #ffffff;
$inputFocusBorderColor: #aae1b7;
$inputFocusBorderShadowColor: rgba(86, 196, 111, 0.25);
$highlightBgColor: #61cc79;
$highlightTextColor: #ffffff;
$headerBgColor: #f5f5f5;
$headerHoverBgColor: #dcdcdc;
$headerHoverBorderColor: #c4c4c4;
$headerTextColor: #292b2c;
$headerBorderColor: #dddddd;
$headerIconColor: #999999;
$headerIconHoverColor: #bd9090;
$datableEvenRowBgColor: #f9f9f9;
$datatableHoverBgColor: #f5f5f5;
$buttonTextColor: #ffffff;
$buttonBgColor: #61cc79;
$buttonBorderColor: #61cc79;
$buttonHoverBgColor: #4db865;
$buttonHoverBorderColor: #3ea655;
$buttonActiveBgColor: #3ea655;
$buttonActiveBorderColor: #2e8942;
$buttonFocusBorderShadow: rgba(86, 196, 111, 0.5);

@import "../sass/theme-v4/_theme";
