$topbarLeftGradientStartBgColor: #391f68;
$topbarLeftGradientEndBgColor: #4e2a8f;
$topbarRightGradientStartBgColor: #391f68;
$topbarRightGradientEndBgColor: #4e2a8f;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #6f42c1;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #391f68;
$badgeBgColor: #3eb839;
$badgeColor: #ffffff;
$darkMenuGradientStartBgColor: #363a41;
$darkMenuGradientEndBgColor: #363a41;
$darkMenuHoverBgColor: #4a4d54;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #b7a0e0;
$darkMenuMenuitemActiveBgColor: #282b30;

@import "../../sass/layout-v4/_layout";
