$topbarLeftGradientStartBgColor: #7a5e06;
$topbarLeftGradientEndBgColor: #c5980f;
$topbarRightGradientStartBgColor: #7a5e06;
$topbarRightGradientEndBgColor: #c5980f;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #f8bd0c;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #7a5e06;
$badgeBgColor: #dc3545;
$badgeColor: #ffffff;
$darkMenuGradientStartBgColor: #363a41;
$darkMenuGradientEndBgColor: #363a41;
$darkMenuHoverBgColor: #4a4d54;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #fbde85;
$darkMenuMenuitemActiveBgColor: #282b30;

@import "../../sass/layout-v4/_layout";
