$topbarLeftGradientStartBgColor: #0a616f;
$topbarLeftGradientEndBgColor: #0d7a8b;
$topbarRightGradientStartBgColor: #0a616f;
$topbarRightGradientEndBgColor: #0d7a8b;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #17a2b8;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #0a616f;
$badgeBgColor: #d9534f;
$badgeColor: #ffffff;
$darkMenuGradientStartBgColor: #363a41;
$darkMenuGradientEndBgColor: #363a41;
$darkMenuHoverBgColor: #4a4d54;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #8bd0db;
$darkMenuMenuitemActiveBgColor: #282b30;

@import "../../sass/layout-v4/_layout";
