<p-blockUI [blocked]="blockUI"></p-blockUI>
<p-steps [model]="items" [activeIndex]="activeIndex"></p-steps>
<div class="card no-margin">
    <div class="ui-g form-group">
        <form [formGroup]="myGroup">
            <div class="ui-g-12 ui-md-4" *ngIf="activeIndex == 0"></div>
            <div class="ui-g-12 ui-md-4" *ngIf="activeIndex == 0">
                <label style="white-space: nowrap"><span style="color:red;">* </span>账户名:</label>
            </div>
            <div class="ui-g-12 ui-md-4" *ngIf="activeIndex == 0">
                <input type="text" pInputText formControlName="account" [(ngModel)]="add.account"/>
            </div>
            <div class="ui-g-12 ui-md-2" *ngIf="activeIndex == 1">
                <label style="white-space: nowrap"><span style="color:red;">* </span>密码:</label>
            </div>
            <div class="ui-g-12 ui-md-4" *ngIf="activeIndex == 1">
                <input type="password" pPassword formControlName="password" [(ngModel)]="add.password"/>
            </div>
        </form>
    </div>
</div>
<div class="ui-g">
    <div class="ui-md-12" style="text-align: center">
        <button pButton type="button" class="ui-button-info button"
                label="下一步" (click)="step()" [disabled]="stepWorkFlow()"></button>
    </div>
</div>

