$topbarLeftGradientStartBgColor: #2b32b2;
$topbarLeftGradientEndBgColor: #4465c5;
$topbarRightGradientStartBgColor: #2b32b2;
$topbarRightGradientEndBgColor: #1488cc;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #2b32b2;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #20258b;
$badgeBgColor: #d9534f;
$badgeColor: #ffffff;
$darkMenuGradientStartBgColor: #2b32b2;
$darkMenuGradientEndBgColor: #4465c5;
$darkMenuHoverBgColor: #272d8b;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #c5c7e5;
$darkMenuMenuitemActiveBgColor: #191d6c;

@import "../../sass/layout/_layout";
