$topbarLeftGradientStartBgColor: #14569d;
$topbarLeftGradientEndBgColor: #2a7bd1;
$topbarRightGradientStartBgColor: #14569d;
$topbarRightGradientEndBgColor: #2a7bd1;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #4da3ff;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #14569d;
$badgeBgColor: #ffc107;
$badgeColor: #282b30;
$darkMenuGradientStartBgColor: #363a41;
$darkMenuGradientEndBgColor: #363a41;
$darkMenuHoverBgColor: #4a4d54;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #a6d1ff;
$darkMenuMenuitemActiveBgColor: #282b30;

@import "../../sass/layout-v4/_layout";
