$topbarLeftGradientStartBgColor: #593e22;
$topbarLeftGradientEndBgColor: #6f4925;
$topbarRightGradientStartBgColor: #593e22;
$topbarRightGradientEndBgColor: #6f4925;
$topbarTextColor: #ffffff;
$menuGradientStartBgColor: #ffffff;
$menuGradientEndBgColor: #ffffff;
$menuitemHoverBgColor: #e8e8e8;
$menuitemActiveColor: #986839;
$menuitemActiveBgColor: #e8e8e8;
$menuButtonBgColor: #ffffff;
$menuButtonColor: #593e22;
$badgeBgColor: #3eb839;
$badgeColor: #ffffff;
$darkMenuGradientStartBgColor: #363a41;
$darkMenuGradientEndBgColor: #363a41;
$darkMenuHoverBgColor: #4a4d54;
$darkMenuMenuitemColor: #ffffff;
$darkMenuMenuitemActiveColor: #cbb39c;
$darkMenuMenuitemActiveBgColor: #282b30;

@import "../../sass/layout-v4/_layout";
