<p-toast position="top-center"></p-toast>
<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-messages ui-widget ui-corner-all ui-messages-success"
                 style="margin: 0 0 1em 0; display: block">
                <span class="fa fa-pencil-square-o fa-lg"></span>
                <ul>
                    <li>
                        <span class="ui-messages-summary" style="font-size:16px">请填写登录信息，*为必填项.</span>
                    </li>
                </ul>
            </div>
            <div class="card no-margin">
                <form [formGroup]="myForm">
                    <div class="ui-g form-group">
                        <div class="ui-g-12 ui-md-2">
                            <label><span style="color:red;">* </span>请输入姓名:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input type="text" pInputText formControlName="name" [(ngModel)]="add.name"/>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label><span style="color:red;">* </span>账户:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input type="text" pInputText formControlName="account" [(ngModel)]="add.account"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label><span style="color:red;">* </span>密码:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input formControlName="password" pPassword type="password" [(ngModel)]="add.password"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label><span style="color:red;">* </span>手机号:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input type="text" pInputText formControlName="mobile" [(ngModel)]="add.mobile"/>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label><span style="color:red;">* </span>邮箱:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <input type="text" pInputText formControlName="email" [(ngModel)]="add.email"/>
                        </div>
                        <script>
                            email.onchange=function(){
                                var  reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
                                if(!reg.test(email)){
                                    alert("邮箱格式不正确");
                                }
                            }

                        </script>
                        <div class="ui-g-12 ui-md-2">
                            <label> 角色:</label>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <p-dropdown
                                [options]="statusOptions"
                                [(ngModel)]="add.act"
                                placeholder="选择角色"
                                formControlName="act"
                                [showClear]="true"
                                id="color"
                            ></p-dropdown>
                        </div>
                        <!--                        <div class="ui-g-12 ui-md-2" *ngIf="add.act == 1">-->
                        <!--                            <label><span style="color:red;">* </span>车牌:</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="ui-g-12 ui-md-4" *ngIf="add.act == 1">-->
                        <!--                            <input type="text" [(ngModel)]="add.car"/>-->
                        <!--                        </div>-->
                        <!--                        <div class="ui-g-12 ui-md-2" *ngIf="add.act == 2">-->
                        <!--                            <label><span style="color:red;">* </span>地址:</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="ui-g-12 ui-md-4" *ngIf="add.act == 2">-->
                        <!--                            <input type="text" [(ngModel)]="add.address"/>-->
                        <!--                        </div>-->
                        <!--                        <div class="ui-g-12 ui-md-6" *ngIf="add.act != 0"></div>-->
                        <div class="ui-g-12 ui-md-4"></div>
                        <div class="ui-g-12 ui-md-2 button-pane">
                            <button
                                type="button"
                                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                role="button"
                                aria-disabled="false"
                                [disabled]="valid()"
                                (click)="onSubmit()"
                            >
                                <p-blockUI [blocked]="blockedLoginBtn"></p-blockUI>
                                <span class="ui-button-text ui-c">提交</span>
                            </button>
                        </div>
                        <div class="ui-g-12 ui-md-2 button-pane">
                            <button
                                type="button"
                                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                role="button"
                                aria-disabled="false"
                                (click)="onCancel()"
                                [disabled]="blockedLoginBtn"
                            >
                                <span class="ui-button-text ui-c">返回</span>
                            </button>
                        </div>
                        <div class="ui-g-12 ui-md-4"></div>

                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
